/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  /* background-color: #F2F2F2; */
  background-color: #ffffff;
}

.button {
  /* display: inline; */
  border-radius: 4px;
  padding: 8px 34px;
  color:#ffffff;
  background-color: #756157;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ---Pages--- */

/* index.html */

/* Header */
/* page-header */

.nav-pages-list a{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.navigation {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  min-height: 64px;
  padding: 0 70px;
  margin: 0 auto;  /* для выравнивания навигации по центру страницы */
}

.logo {
  height: 64px;
  margin-right: 30px;
}

.nav-pages-list,
.nav-user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-pages-list {
  width: 340px;
  margin-right: auto;
}

.nav-user-list {
  width: 268px;
}

.nav-link {
  display: block;
  color: #000000;
}

.current-page {
  border-bottom: 2px solid #756257;
}

.nav-pages-list .nav-link {
  padding: 20px 16px;
}

.nav-user-list .nav-link {
  padding: 22px 12px;
}

.nav-user-list .button {
  margin: 14px 0;
  margin-left: 20px;
}


.search-icon {
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-position: center;
}

.heart-icon {
  background-image: url("../images/header/heart.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-position: center;
}


/* Main */

.main-container {
  flex-grow: 1;
}

.main-page-container {
  width: 1200px;
  margin: 0 auto;
}

/* hero */

.hero {
  width: 1200px;
  /* min-height: 485px; */
  background-color: #c09682;
  background-image: url("../images/index-html/index-background-sedona.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.welcome-svg-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

/* recommendation-first */

.recommendation {
  width: 1200px;
  text-align: center;
}

.rec-header-text {
  margin: 0;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.rec-main-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.rec-first .rec-header-text {
  padding: 0 290px;
  padding-top: 69px;
}

.rec-first .rec-main-text {
  padding: 0 274px;
  padding-top: 25px;
  padding-bottom: 90px;
}


/* advantages-first */

.advantages {
  width: 1200px;
  text-align: center;
}

.black-text {
  color: #000000;
}

.adv-header-text {
  text-transform: uppercase;
  margin: 0;
  padding: 0 27.5px;
  padding-bottom: 30px;
  /* border-bottom: 2px solid #ffffff; */
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.adv-main-text {
  margin: 0;
  padding: 0;
}

.header-border-bottom-white {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.header-border-bottom-gray {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.adv-first .adv-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.adv-first img {
  display: block;
}

.adv-item {
  min-height: 385px;
}

/* .adv-first .adv-text-container:nth-child(1) */
.adv-first .adv-item:nth-child(1),
.adv-first .adv-item:nth-child(5) {
  display: flex;
  width: 1200px;
  background-color: #82B3D3;
  color: #ffffff;
}

.adv-first .adv-item:nth-child(2),
.adv-first .adv-item:nth-child(4) {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages .adv-item:nth-child(3) {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.last-position {
  order: -1;
}

.adv-first-container,
.adv-second-container {
  margin: auto 85px;
}

/* recommendation-second */

.rec-second .rec-header-text {
  padding: 0 347px;
  padding-top: 64px;
}

.rec-second .rec-main-text {
  padding: 0 347px;
  padding-top: 20px;
  padding-bottom: 64px;
}

/* advantages-second */

.adv-second .adv-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.adv-second .adv-item {
  width: 400px;
}

.adv-second .adv-item:nth-child(1),
.adv-second .adv-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.adv-second .adv-header-text {
  color: #000000;
  margin: 0;
}

.house-icon {
  display: block;
  background-image: url("../images/index-html/advantage-icon-house.svg");
  width: 75px;
  height: 72px;
  background-size: 100% 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.food-icon {
  display: block;
  background-image: url("../images/index-html/advantage-icon-food.svg");
  width: 75px;
  height: 72px; /* 74 70 */
  background-size: 100% 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.gift-icon {
  display: block;
  background-image: url("../images/index-html/advantage-icon-gift.svg");
  width: 75px;
  height: 72px; /* 64 76 */
  background-size: 100% 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* book-hotel */

.book-hotel {
  width: 1200px;
}

.book-header-text {
  margin: 0;
  padding-top: 96px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.book-main-text {
  margin: 0;
  padding-top: 20px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-hotel-btn {
  margin: 0;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 96px;
}

.search-hotel-btn .button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

/* subscription */

.subscription {
  color:#ffffff;
  width: 1200px;
  min-height: 415px;
  background-size: 100% 100%;
  text-align: center;
  background-color: #756157;
  background-image: url("../images/index-html/subscribe-background-blur.jpg");
}

.sub-header-text {
  margin: 0;
  padding-top: 96px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sub-main-text {
  margin: 0;
  padding-top: 20px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.get-subscription {
  padding-top: 54px;
  padding-bottom: 104px;
}

.get-subscription .email {
  line-height: 24px;
  padding: 14px 0;
  padding-right: 345px;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #F2F2F2;
}

.get-subscription .button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

/* Footer */
/* page-footer */

.contact-info {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  padding: 0 70px;
  margin: 0 auto;
  min-height: 120px;
}

.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 142px;
  margin-right: auto;
  list-style-type: none;
}

.social-media-item {
  flex-grow: 1;
  height: 40px;
}

.social-media-icon {

}

.vkontakte {
  display: block;
  background-image: url("../images/footer/vk.svg");
  width: 24px;
  height: 14px;
}

.telegram {
  display: block;
  background-image: url("../images/footer/telegram.svg");
  width: 18px;
  height: 16px;
}

.youtube {
  display: block;
  background-image: url("../images/footer/youtube.svg");
  width: 22px;
  height: 17px;
}

.phone-number {
  margin: auto 0;
  width: 331px;
  height: 40px;
  margin-right: 235px;
}

.phone-link {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

.academy {
  margin: auto 0;
  width: 115px;
}

.academy-link {
  display: block;
  background-image: url("../images/footer/htmlacademy-logo.svg");
  width: 115px;
  height: 33px;
}


/* catalog.html */

/* Main */
/* filter */

.filter {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 1200px;
  min-height: 412px;
  color: #ffffff;
  background-color: #aa9388;
  background-image: url("../images/catalog-html/catalog-background-blur.jpg");
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
  /* background-size: cover; */
}

.main-title {
  margin: 0;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.home-icon {
  display: block;
  background-image: url("../images/catalog-html/home-icon.svg");
  width: 13px;
  height: 13px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  height: 21px;
  font-size: 16px;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs-item:nth-child(1) {
  margin: auto 0;
  margin-right: 28px;
}

.filter-params {
  display: flex;
}

.filter-field {
  margin: 0;
  padding: 0;
  min-width: 150px;
  padding-right: 70px;
  border-style: none;
}

.filter-field:nth-child(2) {
  padding-right: 140px;
}

.filter-field:nth-child(3) {
  min-width: 288px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 32px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-item {
  line-height: 23px;
}

.filter-item:not(:last-child) {
  padding-bottom: 16px;
}  /* как убрать снизу отступ */

.low-price,
.high-price {
  line-height: 24px;
}

.button-submit,
.button-reset {
  padding: 8px 50px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.button-submit {
  background-color: #82B3D3;
}

.button-reset {
  background-color: transparent;
}

.filter-buttons-container {
  /* display: flex;
  flex-direction: column;
  box-sizing: border-box; */
  width: 191px;
  height: 104px;
}

/* catalog */

.catalog {
  display: flex;
  flex-direction: column;
  width: 1060px;
  margin: 0 70px;

  /* align-items: center; */
  /* padding: 50px 70px 60px 70px; */
}

.catalog-header {
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
  min-height: 49px;
}

.hotels-count {
  margin: 0;
  margin-right: auto;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sort-type {
  margin-right: 70px;
}

.catalog-views {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 160px;
  height: 48px;
  list-style-type: none;
}

.catalog-view-item {
  width: 48px;
  height: 48px;
}

.link-view {
  /* padding: 5px 5px; */
}

.blocks-view {
  display: block;
  background-image: url("../images/catalog-html/blocks-view.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.cards-view {
  display: block;
  background-image: url("../images/catalog-html/cards-view.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.lists-view {
  display: block;
  background-image: url("../images/catalog-html/lists-view.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

/* ul hotels-list */

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
  list-style-type: none;
  min-height: 896px;
}

.hotel-item {
  width: 340px;
  min-height: 438px;
  padding-right: 20px;
  /* padding: 20px; */
  /* border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  width: 340px;
  height: 438px; */
}

.hotel-item:nth-child(3n) {
  padding-right: 0;
}

.hotel-item img {
  display: block;
  padding-bottom: 16px;
}

.link-to-hotel {
  text-decoration: none;
}

.hotel-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.params-list {
  list-style-type: none;
}

.hotel-name {
  margin: 0;
  padding: 0;
}

.stars-rating {
  display: block;
  margin: 0;
  padding: 0;
  background-image: url("../images/catalog-html/rating-star.svg");
  width: 18px;
  height: 17px;
}

.hotel-price {
  margin: 0;
  padding: 0;
}

.add-to-favorites {
  background-color: #82B3D3;
}

.rating-text {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

/* ul pagination */
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 60px;
}

.pagination-item {
  border-radius: 4px;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  text-align: center;
  list-style-type: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  background-color: #F2F2F2;
}
.pagination-current .pagination-link,
.no-bg-color .pagination-link {
  color: #000000;
}

.pagination-link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.no-bg-color {
  background-color: transparent;
}


.main-inner .subscription {
  background-image: none;
  background-color: transparent;
  color: #000000;
}

.main-inner .sub-main-text {
  color: #333333;
}
