/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 40px;
  min-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  background-color: #F2F2F2;
  z-index: -1;
}

.background-page-color {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  background-color: #FFF;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
}


.button {
  display: inline-block;
  border-radius: 4px;
  padding: 8px 34px;
  color:#FFF;
  background-color: #756157;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s, opacity 0.5s;
}

/* all-buttons effects */
.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
  outline: none;
}

.button:active {
  color: rgb(255 255 255 / 30%);
}

/* button blue effects */
.btn-blue {
  background-color: #82B3D3;
}

.btn-blue:hover {
  background-color: #68A2CA;
}

.btn-blue:focus {
  background-color: #68A2CA;
  outline: none;
}

/* button green effects */
.btn-green {
  background-color: #7DB54F;
}

.btn-green:hover {
  background-color: #6C9E42;
}

.btn-green:focus {
  background-color: #6C9E42;
  outline: none;
}

/* button without-color effects */
.btn-no-color {
  background-color: transparent;
}

.btn-no-color:hover {
  background-color: inherit;
  opacity: 0.6;
}

.btn-no-color:focus {
  background-color: inherit;
  outline: 3px solid #83B3D3;
}

.btn-no-color:active {
  background-color: inherit;
  outline: none;
}

/* disabled buttons */
.button:disabled {
  background-color: #E5E5E5;
  color: #FFF;
}

.btn-no-color:disabled,
.btn-no-color:disabled:hover {
  background-color: transparent;
  opacity: 0.1;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Pages */

/* ----- index.html ----- */

/* --- Header --- */

/* page-navigation */
.navigation {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  min-height: 64px;
  padding: 0 70px;
  margin: 0 auto;  /* для выравнивания навигации (heder-а) по центру страницы */
  background-color: #FFF;
}

.logo {
  height: 64px;
  margin-right: 30px;
  z-index: 1;
  transition: background-color 0.5s, opacity 0.5s;
}

/* logo effects */
.logo:hover {
  opacity: 0.6;
}

.logo:focus-visible {
  outline: 3px solid #82B3D3;
}

.logo:active {
  opacity: 0.3;
  outline: none;
}


.nav-pages-list a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.nav-pages-list,
.nav-user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-pages-list {
  min-width: 340px;
  max-width: 400px;
  margin-right: auto;
}

.nav-user-list {
  width: 268px;
}

/* .nav-item {
} */

.nav-link {
  position: relative;
  display: block;
  color: #000;
  transition: background-color 0.5s, opacity 0.5s;
}

.nav-pages-list .nav-link {
  padding: 20px 16px;
}

.nav-user-list .nav-link {
  padding: 22px 12px;
  min-width: 20px;
  min-height: 20px;
}

.nav-user-list .nav-item-btn {
  margin: 14px 0;
  margin-left: 20px;
}

.nav-pages-list .current-page::before {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 0;
  right: 16px;
  height: 2px;
  background-color: #756257;
}

/* navigation link effects */
.navigation .nav-link:hover {
  background-color: #82B3D3;
}

.navigation .nav-link:focus-visible {
  outline: 3px solid #82B3D3;
}

.navigation .nav-link:active {
  background-color: #82B3D3;
  opacity: 0.6;
  outline: none;
}

.navigation-icon {
  position: absolute;
  inset: 0;
  margin: auto;
  transition: fill 0.5s;
}

/* navigation icon effects */
.nav-link:hover .navigation-icon {
  fill: #ff3434;
}

.heart-icon::before {
  content: "12";
  position: absolute;
  top: 11px;
  left: 20px;
  padding: 5px;
  padding-left: 4px;
  border-radius: 50%;
  background-color: #7DB54F;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFF;
  z-index: 1;
}


/* ---Main--- */

.main-container {
  flex-grow: 1;
}

.main-page-container {
  width: 1200px;
  margin: 0 auto;
}


/* hero */
.hero {
  width: 1200px;
  background-color: #c09682;
  background-image: url("../images/index-html/index-background-sedona.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.welcome-svg-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}


/* recommendation-first */
.recommendation {
  width: 1200px;
  text-align: center;
  background-color: #FFF;
}

.rec-header-text {
  margin: 0;
  color: #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.rec-main-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.rec-first .rec-header-text {
  padding: 0 250px;
  padding-top: 69px;
}

.rec-first .rec-main-text {
  padding: 0 200px;
  padding-top: 25px;
  padding-bottom: 90px;
}


/* advantages-first */
.advantages {
  width: 1200px;
  text-align: center;
}

.black-text {
  color: #000;
}

.adv-header-text {
  position: relative;
  text-transform: uppercase;
  margin: 0;
  padding: 0 24px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.adv-main-text {
  margin: 0;
  padding: 0;
  width: 234px;
  margin-left: -2px;
}

.adv-header-text::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  left: 50%;
  bottom: 0;
  margin-left: -30px;
}

.header-border-bottom-white::before {
  background-color: rgb(255 255 255 / 30%);
}

.header-border-bottom-gray::before {
  background-color: rgb(0 0 0 / 30%);
}

.adv-first .adv-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.adv-first img {
  display: block;
}

.adv-item {
  display: flex;
  width: 400px;
  min-height: 385px;
}

.adv-first .adv-item-with-img {
  width: 1200px;
  background-color: #82B3D3;
  color: #FFF;
}

.very-light-blue-bg {
  background-color: rgb(131 179 211 / 12%);
}

.light-blue-bg {
  background-color: rgb(131 179 211 / 20%);
}

.first-position {
  order: -1;
}

.adv-first-container {
  width: 230px;
  margin: auto 85px;
  padding: 50px 0;
}


/* recommendation-second */
.rec-second .rec-header-text {
  padding: 0 347px;
  padding-top: 64px;
}

.rec-second .rec-main-text {
  padding: 0 355px;
  padding-top: 20px;
  padding-bottom: 64px;
}


/* advantages-second */
.adv-second-container {
  position: relative;
  margin: auto 85px;
  padding-top: 102px;
  padding-bottom: 50px;
}

.adv-second .adv-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.adv-second .adv-item {
  width: 400px;
}

.white-bg {
  background-color: #FFF;
}

.adv-second .adv-header-text {
  color: #000;
  margin: 0;
}

.house-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 77px;
  height: 72px;
  background-image: url("../images/index-html/advantage-icon-house.svg");
  background-size: 100% 100%;
}

.food-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 76px;
  height: 72px;
  background-image: url("../images/index-html/advantage-icon-food.svg");
  background-size: 100% 100%;
}

.gift-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 76px;
  height: 76px;
  margin-top: -2px;
  background-image: url("../images/index-html/advantage-icon-gift.svg");
  background-size: 100% 100%;
}


/* book-hotel */
.book-hotel {
  width: 1200px;
  background-color: #FFF;
}

.book-header-text {
  margin: 0;
  padding: 0 250px;
  padding-top: 96px;
  color: #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.book-main-text {
  margin: 0;
  padding: 0 200px;
  padding-top: 20px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-hotel-btn {
  margin: 0 200px;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 96px;
}

.search-hotel-btn .button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}


/* subscription */
.subscription {
  color:#FFF;
  width: 1200px;
  min-height: 415px;
  background-size: 100% 100%;
  text-align: center;
  background-color: #756157;
  background-image: url("../images/index-html/subscribe-background-blur.jpg");
}

.sub-header-text {
  margin: 0;
  padding: 0 250px;
  padding-top: 96px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sub-main-text {
  margin: 0;
  padding: 0 200px;
  padding-top: 20px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.get-subscription {
  display: flex;
  justify-content: center;
  padding: 0 150px;
  padding-top: 54px;
  padding-bottom: 104px;
}

.get-subscription .email {
  min-width: 452px;
  padding: 14px 20px;
  padding-bottom: 12px;
  border-radius: 4px 0 0 4px;
  font-weight: 400;
}

.get-subscription .button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}


/* ---Footer--- */

/* page-footer */
.contact-info {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  padding: 40px 70px 30px;
  margin: 0 auto;  /* для выравнивания footer-а по центру страницы */
  min-height: 120px;
  background-color: #FFF;
}

/* social media icons */
.social-media-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  padding: 0;
  width: 142px;
  min-height: 40px;
  list-style-type: none;
}

.social-media-item {
  width: calc(100%/3);
}

.social-media-link {
  position: relative;
  display: block;
  height: 40px;
  transition: fill 0.5s;
}

.social-media-icon {
  position: absolute;
  inset: 0;
  margin: auto;
  fill: #83B3D3;
  transition: fill 0.5s;
}

/* social media icons effects */
.social-media-link:hover .social-media-icon {
  fill: #68A2CA;
}

.social-media-link:focus .social-media-icon {
  fill: #68A2CA;
}

.social-media-link:active .social-media-icon {
  fill: rgb(104 162 202 / 30%);
}

.social-media-link:focus-visible {
  outline: 3px solid #82B3D3;
}

/* phone number */
.phone-number {
  display: block;
  margin: auto;
  width: 600px;
  min-height: 40px;
  color: #000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.5s;
}

/* phone number effects */
.phone-number:hover {
  color: #756157;
  outline: none;
}

.phone-number:focus-visible {
  color: #756157;
  outline: 3px solid #83B3D3;
}

.phone-number:active {
  color: rgb(117 97 87 / 30%);
  outline: none;
}

/* academy-logo */
.academy-link {
  position: relative;
  display: block;
  margin: auto 0;
  width: 115px;
  height: 33px;
}

.social-media-academy-icon {
  position: absolute;
  inset: 0;
  margin: auto;
  fill: #000;
  transition: fill 0.5s;
}

.academy-link:hover .social-media-academy-icon {
  fill: #756157;
  outline: none;
}

.academy-link:focus-visible .social-media-academy-icon {
  fill: #756157;
  outline: 3px solid #83B3D3;
}

.academy-link:active .social-media-academy-icon {
  fill: rgb(117 97 87 / 30%);
  outline: none;
}



/* ----- catalog.html ----- */

/* ---Main--- */

/* filter */
.filter {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 1200px;
  min-height: 412px;
  color: #FFF;
  background-color: #aa9388;
  background-image: url("../images/catalog-html/catalog-background-blur.jpg");
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
  background-size: 100% 100%;
}

.main-title {
  margin: 0;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

/* catalog breadcrumbs navigation */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  height: 21px;
  font-size: 16px;
  list-style-type: none;
}

/* .breadcrumbs-item {
} */

.breadcrumbs-link {
  text-decoration: none;
  color: #FFF;
  transition: opacity 0.5s;
}

/* breadcrumbs effects */
.breadcrumbs-link:hover,
.home-icon:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus,
.home-icon:focus {
  opacity: 0.6;
  outline: 3px solid #82B3D3;
}

.breadcrumbs-link:active,
.home-icon:active {
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  width: 8px;
  height: 21px;
  background-image: url("../images/white-arrow-right.svg");
  background-repeat: no-repeat;
}

.home-icon {
  display: block;
  width: 13px;
  height: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-image: url("../images/catalog-html/home-icon.svg");
  background-repeat: no-repeat;
}

/* filter parameters */
.filter-params {
  display: flex;
  justify-content: space-between;
}

.filter-field {
  margin: 0;
  padding: 0;
  border-style: none;
}

.filter-field:focus-within {
  outline: 3px solid #82B3D3;
}

/* left field with checkboxes and radiobuttons */
.filter-field-left-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 371px;
}

.filter-field-left-wrapper .checkboxes-field {
  min-width: 151px;
}

.filter-field-left-wrapper .radiobuttons-field {
  min-width: 151px;
  margin-left: 30px;
}


/* right field with price and buttons */
.filter-field-right-wrapper {
  display: flex;
  justify-content: space-between;
  width: 549px;
}

.filter-field-right-wrapper .price-field {
  min-width: 288px;
}

/* filter buttons */
.filter-field-right-wrapper .buttons-field {
  display: flex;
  flex-direction: column;
  width: 191px;
  min-height: 104px;
  margin-top: 56px;
  margin-left: 30px;
}

.buttons-field .button[type="submit"] {
  margin-bottom: 32px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  padding-bottom: 32px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.param-field,
.param-field-price {
  position: relative;
  display: flex;
  transition: opacity 0.5s;
}

.filter-item:not(:last-child) {
  padding-bottom: 16px;
}

/* checkbox */
.input-parameter {
  margin: 0;
  transition: opacity 0.5s;
}

.input-parameter[type="checkbox"] {
  appearance: none;
  border-radius: 4px;
  min-width: 20px;
  height: 20px;
  background-color: #FFF;

}

.input-parameter[type="checkbox"]:checked {
  background-image: url("../images/tick-sign.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.label-text {
  position: relative;
  line-height: 23px;
  align-self: center;
  padding-left: 16px;
  transition: opacity 0.5s;
}

/* radiobutton */
.input-parameter[type="radio"] {
  appearance: none;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  background-color: #FFF;
}

.input-parameter[type="radio"]:checked {
  background-image: url("../images/tick-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

/* input effects */
.input-parameter:hover,
.input-parameter:hover + .label-text {
  opacity: 0.6;
}

.input-parameter:focus-visible {
  outline: 3px solid #83B3D3;
}

.input-parameter:not(:disabled):active,
.input-parameter:not(:disabled):active + .label-text {
  opacity: 0.3;
}

/* disable input checkboxed and radiobuttons */
.input-parameter:disabled,
.input-parameter:disabled + .label-text {
  opacity: 0.3;
}


/* price range */
.min-max-price-field {
  display: flex;
  margin-bottom: 44px;
}

/* .min-max-price-field .param-field {
  width: 143px;
} */

.input-text-field {
  width: 143px;
  box-sizing: border-box;
  padding: 12px 20px;
  padding-right: 45px;
  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  transition: background-color 0.5s;
}

/* remove up/down pins */
.param-field-price .input-text-field::-webkit-outer-spin-button,
.param-field-price .input-text-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.param-field-price .input-text-field[type="number"] {
  appearance: textfield; /* for firefox */
}

.low-price {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.high-price {
  border-radius: 0 4px 4px 0;
}

.placeholder-price {
  position: absolute;
  color: rgb(0 0 0 / 50%);
  line-height: 24px;
  right: 20px;
  transform: translateY(50%);
}

/* text input field effects */
.input-text-field:hover {
  background-color: rgb(242 242 242 / 80%);
}

.input-text-field:focus {
  outline: 3px solid #83B3D3;
}

/* price range element */
.price-range {
  position: relative;
  height: 4px;
  background-color: rgb(255 255 255 / 30%);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: #FFF;
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

/* range toggle effects */
.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 25%);
}

.range-toggle:focus {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 25%);
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  box-shadow: 0 7px 15px 0 rgb(0 0 0 / 40%);
  outline: 2px solid #83B3D3;
}


/* catalog */
.catalog {
  display: flex;
  flex-direction: column;
  width: 1060px;
  padding: 0 70px;
  background-color: #FFF;
}

.catalog-header {
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
  min-height: 49px;
}

.hotels-count {
  align-self: center;
  margin: 0;
  margin-right: auto;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.sort-type {
  width: 292px;
  height: 49px;
  padding: 14px 20px;
  padding-right: 40px;
  margin-right: 70px;
  align-self: center;
  background-color: #FFF;
  outline: 2px solid #E5E5E5;
  outline-offset: -2px;
  border-radius: 4px;
  border: none;
  transition: outline-color 0.5s;
  appearance: none;
  background-image: url("../images/black-arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* sort (select) effects */
.sort-type:hover {
  outline-color: #68A2CA;
}

.sort-type:focus {
  outline-color: #68A2CA;
}

.sort-type:disabled,
.sort-type:disabled:hover {
  opacity: 0.3;
  outline-color: rgb(0 0 0 / 30%);
}

/* view catalog types */
.catalog-views {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 160px;
  list-style-type: none;
}

/* .catalog-view-item {
} */

.catalog-view-item:not(:nth-child(3n)) {
  margin-right: 8px;
}

.link-view {
  display: block;
  width: 48px;
  height: 48px;
  outline: 2px solid #E5E5E5;
  outline-offset: -2px;
  border-radius: 4px;
  border: none;
  transition: outline-color 0.5s;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-view-item .current-view {
  outline-color: #000;
}

.blocks-view {
  background-image: url("../images/catalog-html/blocks-view.svg");
}

.cards-view {
  background-image: url("../images/catalog-html/cards-view.svg");
}

.lists-view {
  background-image: url("../images/catalog-html/lists-view.svg");
}

/* view-blocks effects */
.link-view:hover {
  outline-color: #000;
}

.link-view:focus {
  outline-color: #68A2CA;
}

.link-view:active {
  outline-color: #000;
}


/* ul hotels-list */
.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
  list-style-type: none;
  min-height: 438px;
}

.hotel-item {
  display: grid;
  grid-template-areas:
    "img       img      img"
    "title    title   title"
    "hotel-name .     price"
    "about      .  favorite"
    "stars      .    rating";
  grid-template-columns: 140px 20px 140px;
  grid-template-rows: 212px repeat(4, min-content);
  padding: 20px;
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
  row-gap: 16px;
}

.hotel-image {
  display: block;
}

.img-hotel-link {
  grid-area: img;
}

.hotel-title {
  display: inline-block;
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.title-hotel-link {
  grid-area: title;
}

.link-to-hotel {
  margin-right: auto;
  transition: opacity 0.5s;
}

/* hotel link effects */
.link-to-hotel:hover {
  opacity: 0.6;
}

.link-to-hotel:focus-visible {
  outline: 3px solid #82B3D3;
}

.link-to-hotel:active {
  opacity: 0.3;
  outline: none;
}


.hotel-name {
  margin: 0;
  padding: 0;
  grid-area: hotel-name;
}

.hotel-about-link {
  padding: 8px 15px;
  align-self: stretch;
  grid-area: about;
}

.stars-rating {
  margin: 0;
  padding: 0;
  min-height: 37px;
  background-image: url("../images/catalog-html/rating-star.svg");
  background-repeat: repeat-x;
  background-position: center left;
  grid-area: stars;
}

.one-star {
  width: 24px;
}

.two-stars {
  width: 48px;
}

.three-stars {
  width: 72px;
}

.four-stars {
  width: 96px;
}

.five-stars {
  width: 120px;
}

.hotel-price {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  grid-area: price;
}

.add-to-favorites {
  padding: 8px 15px;
  align-self: stretch;
  grid-area: favorite;
}

.rating-text {
  margin: 0;
  padding: 8px 15px;
  padding-top: 9px;
  background-color: #F2F2F2;
  align-self: stretch;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  grid-area: rating;
}

/* ul pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  min-height: 60px;
}

.pagination-item {
  list-style-type: none;
  padding-bottom: 10px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  background-color: #82B3D3;
  transition: color 0.5s, background-color 0.5s;
  text-decoration: none;
  color: #FFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.pagination-link.pagination-current {
  background-color: #F2F2F2;
  color: #000;
}

.pagination-link.pagination-empty {
  background-color: transparent;
  color: #000;
  font-weight: 400;
  font-size: 22px;
}

/* pagination effects */
.pagination-current:focus {
  outline: none;
}

.pagination-link:not(.pagination-current, .pagination-empty):active {
  color: rgb(255 255 255 / 30%);
}


/* subscription */
.main-inner .subscription {
  background-image: none;
  color: #000;
  background-color: #FFF;
}

.main-inner .sub-main-text {
  color: #333;
}


/* Modal date hotels form */
.modal-container-search-hotels {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(242 242 242 / 80%);
  color: #000;
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  min-width: 717px;
  border-radius: 30px;
  padding: 64px 70px;
  background-color: #FFF;
  box-shadow: 0 25px 50px 0 rgb(0 0 0 / 15%);
  box-sizing: border-box;
}

/* close modal button */
.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s, opacity 0.5s;
}

/* close window button effects */
.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  fill: rgb(0 0 0 / 30%);
  outline: none;
}

.modal-search-title {
  margin: 0;
  padding-bottom: 64px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotels-form {
  display: flex;
  flex-wrap: wrap;
  width: 577px;
}

.date-parameter,
.count-parameter {
  position: relative;
  display: flex;
  margin-bottom: 48px;
}

.placeholder-text {
  width: 137px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: auto 0;
}

.check-in-date,
.check-out-date {
  width: 440px;
}

.date-parameter .input-text-field {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
}

.date-parameter::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../images/calendar-subscription.svg");
}

.check-in-message::after,
.check-out-message::after {
  content: "Мы не можем отправить вас в прошлое.";
  position: absolute;
  top: 50px;
  left: 157px;
  width: 400px;
  color: #FF5757;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.check-out-message::after {
  content: "На эти даты есть свободные номера. Пока есть.";
  color: #333;
}

/* adults children labels */
.people-count-hotel-search {
  display: flex;
  width: 577px;
  margin-bottom: 48px;
}

.count-parameter.adults {
  width: 247px;
  margin-right: auto;
  margin-bottom: 0;
}

.count-parameter.children {
  width: 242px;
  margin-bottom: 0;
}

.count-input {
  padding: 14px 0;
  width: 30px;
  text-align: center;
  border-radius: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  z-index: 1  ;
}

.button-minus-one,
.button-plus-one {
  position: relative;
  width: 40px;
  border: none;
  border-radius: 0;
  background-color: #F2F2F2;
  cursor: pointer;
}

.button-minus-one {
  border-radius: 4px 0 0 4px;
}

.button-plus-one {
  border-radius: 0 4px 4px 0;
}

.minus-icon,
.plus-icon,
.close-icon {
  position: absolute;
  inset: 0;
  margin: auto;
  transition: fill 0.5s;
  color: rgb(117 97 87 / 30%);
}

/* buttons plus/minus effects */
.button-minus-one:hover .minus-icon,
.button-plus-one:hover .plus-icon {
  fill: #000;
}

.button-minus-one:focus-visible .minus-icon,
.button-plus-one:focus-visible .plus-icon {
  fill: #000;
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.button-plus-one:focus,
.button-minus-one:focus {
  outline: none;
}

.button-minus-one:active .minus-icon,
.button-plus-one:active .plus-icon {
  fill: rgb(117 97 87 / 30%);
  outline: none;
}

/* tooltip */
.tooltip {
  position: absolute;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  fill: #83B3D3;
  display: block;
  transition: fill 0.5s;
}

.tooltip-toggle:hover .tooltip-icon {
  fill: #68A2CA;
}

.tooltip-toggle:focus .tooltip-icon {
  fill: #68A2CA;
  outline: 3px solid #82B3D3;
}

.tooltip-toggle:focus {
  outline: none;
}

.tooltip-text {
  width: 256px;
  box-sizing: border-box;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  background-color: #333;
  position: absolute;
  margin-top: 10px ;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

/* tooltip effects */
.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::before {
  content:'';
  background-image: url("../images/tooltip-triangle.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

/* submit button search hotels modal form */
.modal-search [type="submit"] {
  width: 577px;
  padding: 18px;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.close-modal-search-hotels {
  display: none;
}
